<div class="searchMenu">
	<form action="/update-recipe-form" method="get"> 
		<h3>Edit Recipe</h3> 
		<input type="number" value="{{recipe_id}}" name="id" hidden=true>
		Name:<input type="text" value="{{name}}" name="name"><br>
		Serving Size:<input type="number" value="{{serving_size}}" name="serving_size"><br>
		Cook Time:<input type="number" value="{{cook_time}}" name="cook_time"><br>
		Instructions:<input type="text" value="{{instructions}}" name="instructions"><br>
		Source Id:<input type="number" value="{{source_id}}" name="source_id"><br>
		<input type="submit">
	</form>

</div>
